<h1>ASWR</h1>
<mat-tab-group>
  <mat-tab label="Ідентифікація ризиків розроблення ПЗ">
    <app-risk-identification></app-risk-identification>
  </mat-tab>
  <mat-tab label="Аналіз ризиків розроблення ПЗ">
    <app-risk-analysis></app-risk-analysis>
  </mat-tab>
  <mat-tab label="Планування ризиків розроблення ПЗ">
    <app-risk-planning></app-risk-planning>
  </mat-tab>
  <mat-tab label="Моніторинг ризиків розроблення ПЗ">
    <app-risk-monitoring></app-risk-monitoring>
  </mat-tab>
</mat-tab-group>
